body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fa;

    margin: 0;
}


.navbar {
    background-color: #333;
    color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* Ensure the nav-links are displayed horizontally */
.nav-links {
    display: flex;
    /* Added to make links align horizontally */
    gap: 20px;
    /* Add space between links */
}

.nav-links a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ff4500;
}

#auth_container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f7fa;
}


.login-container {
    background-color: #fff;
    padding: 30px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}

h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}


.form-group {
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 12px;
    border: 2px solid #007bff;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s, box-shadow 0.3s;
    height: 45px;
    margin-top: 5px;
}

input:focus {
    border-color: #28a745;
    box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

button {
    width: 100%;
    padding: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
    height: 45px;
}

button:hover {
    background-color: #0056b3;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(1px);
}


a {
    color: #007bff;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 15px;
    transition: color 0.3s;
}

a:hover {
    color: #0056b3;
    text-decoration: underline;
}


@media (max-width: 600px) {
    .login-container {
        padding: 20px;
    }

    h3 {
        font-size: 20px;
    }

    input,
    button {
        font-size: 14px;
    }
}